
.blockSwitch {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.green {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: green;
    border: 2px solid #555;
    border-radius: 5px;
    margin-right: 10px;
}
.red {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: red;
    border: 2px solid #555;
    border-radius: 5px;
    margin-left: 10px;
}

.white {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: azure;
    width: 40px;
    height: 40px;
    border: 2px solid #555;
    border-radius: 5px;
}

.circleGreen {
    background-color: green;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid #555;
    margin-left: 10px;
}

.circleRed {
    background-color: red;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid #555;
    margin-left: 10px;
}