.blockSwitch {
    display: flex;
    margin-top: 20px;
    margin-left: 20px;
}

.blockOn {
    margin-right: 10px;
    border: 2px solid #555555;
    cursor: pointer;
    border-radius: 4px;
    padding: 2px 6px 2px 6px;
}

.blockOff {
    margin-right: 10px;
    border: 2px solid #555555;
    cursor: pointer;
    border-radius: 4px;
    padding: 2px 4px 2px 4px;
}

.green {
    margin-right: 10px;
    color: snow;
    background-color: #66bf3c;
    border: 2px solid #555555;
    cursor: pointer;
    border-radius: 4px;
    padding: 2px 6px 2px 6px;
}
.pink {
    margin-right: 10px;
    background-color: #ff2d58;
    color: snow;
    border: 2px solid #555555;
    cursor: pointer;
    border-radius: 4px;
    padding: 2px 4px 2px 4px;
}

.circleOn {
    border: 2px solid #555555;
    background-color: #66bf3c;
    padding: 12px;
    border-radius: 100px;
}
.circleOff {
    border: 2px solid #555555;
    background-color: #ff2d58;
    padding: 12px;
    border-radius: 100px;
}